#ch_footer {
  position:absolute;
  bottom:0px;
  color:lightgray;
}

.nbmd {
  white-space:nowrap;
}

.smalltitle {
  color:#6E6E6E;
}

.sec {
  color:#0088CC;
  text-decoration:none;
}

.ft {
  color:darkgray;
}

.important {
  border:1px solid darkgray;
  padding:1em;
}

.todo {
  color:red;
  font-weight:bold;
}

.bp {
  margin-bottom:15em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
