button{
font-family:courier;
font-size:1.2em;
}

html{
font-family:courier;
}

input{
font-family:courier;
font-size:1.2em; 
}

#jdcontainer{
width:300px;
height:280px;
}

#jdcontainer2{
width:350px;
height:500px;
position:relative;
top:0px;
margin:0 auto;
z-index:0;
}

#analysis{
text-align:center;
width:300px;
margin-top:90px;
text-align:left;
}

#footer{
padding-left:300px;
}

#homelink{
margin:0 auto;
width:300px;
}

#javacontain{
width:300px;
height:100px;
}

#javacontain2{
width:300px;
height:500px;
position:relative;
top:0px;
margin:0 auto;
}

#javaface{
}

#jdbtn{
width:85px;
margin:0 auto;
z-index:1;
}

#jdgo{
text-align:center;
width:300px;
font-size:1.2em;
}

#javatitle{
text-align:center;
width:300px;
}

#javatitle2{
text-align:center;
width:300px;
z-index:4;
color:red;
}

#jdreport{
width:300px;
height:500px;
border:2px solid black;
z-index:4;
margin:0 auto;
position:absolute;
top:20px;
}

#reportpic{
border:1px solid black;
position:relative;
}

#startbtn{
z-index:2;
width:70px;
margin:0 auto;
}

#tango{
z-index:1;
position:absolute;
}

.ctr{
margin:0 auto;
}

.end{
width:200px;
}

.jdbutton{
margin:0 auto;
}

@media screen and (max-device-width: 800px){
	html{
		width:320px;
		overflow:hidden;
	}
	body{
		width:100%;
	}
	.djcontainer{
		width:320px;
	}
	.jdgo{
		width:320px;
	}
}






